<mat-toolbar class="container-toolbar" color="primary">
  <h1>Home</h1>
</mat-toolbar>

<section class="container">
  <mat-card class="article">
    <header>
      <h2>O que é o Atletic?</h2>
    </header>
    <p>O Atletic é um sistema de gerenciamento de atletas olimpicos. Surgiu de uma grande iniciativa
      bilionária. Investidores anonimos deram então origem ao projeto Atletic. O objetivo da plataforma
      formada nos meados de 2019, é, como o próprio nome ja diz: Gerenciar de forma atlética, competidores
      olímpicos. Sua filosofia pregra a transparência e praticidade para com os usuários.
    </p>
    <img src="assets/download.jpeg" alt="runing" style="width:50%; float:right;">
  </mat-card>

  <mat-card class="article">
    <header>
      <h2>Por Quê Atletic?</h2>
    </header>
    <p>Com o Atletic, você só tem a ganhar. Economise tempo, juntando todos os seus atlétas
      em um lugar só. Praticiade e facilidade de gerenciamento da plataforma, entregam a você
      a melhor experência possível como usuário. Mas é o bolso? Como fica? Você não paga nada
      para utilisar o Atlétic, a plataforma é completamente aberta! 
    </p>
    <img src="assets/upload.jpeg" alt="runing" style="width:50%; float:right;">
  </mat-card>
    
  <mat-card class="notarticle">
    <header>
      <h2>Como Usar Atletic?</h2>
    </header>
    <p>Atletic foi pensado para ser de facil utilisação. Basta selecionar a aba "Modalidade" caso
      a área de atuação do seu competidor ainda não exista em nossos registros. Após, clique no 
      botão <a mat-raised-button>Novo</a> para inserir um registro. Caso deseje alterar uma Modalidade
      clique sobre o nome dela, e altere os registros. O botão <button mat-flat-button color="warn" >
          <mat-icon>delete_forever</mat-icon>
        </button> irá apagar o registro, então cuidado. 
    </p>
    <p>Para atletas o procedimento é o mesmo, com a única diferença de que você devera selecionar
      a modalidade para ele dentre as cadastradas.
    </p>
  </mat-card>
</section>