<mat-toolbar class="container-toolbar" color="primary">
  <h1>Atletas</h1>
</mat-toolbar>
  
  <section class="container">
    <mat-card>
      <h1>Formulário Atleta</h1>
    
      <form>
          <div class="form-container">
            <div>
                <mat-form-field class="left-input">
                    <mat-label>Nome</mat-label>
                    <input matInput  [(ngModel)]="atleta.atl_nome" name="atl_nome" required>
                  </mat-form-field>
        
                  <mat-form-field class="rigth-input">
                    <mat-label>País</mat-label>
                    <input matInput  [(ngModel)]="atleta.atl_pais" name="atl_pais" required>
                  </mat-form-field>
        
            </div>

            <div>
              
                <mat-form-field class="left-input">
                  <mat-label>Modalidade</mat-label>
                  <mat-select [(value)]="atleta.atl_mod">
                    <ng-container *ngFor="let modalidade of modalidades">
                      <mat-option value="{{ modalidade.mod_codigo }}">
                        {{ modalidade.mod_nome }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                
      
                <mat-form-field class="rigth-input">
                  <mat-label>Estado</mat-label>
                  <input matInput  [(ngModel)]="atleta.atl_estado" name="atl_estado" required>
                </mat-form-field>
      
            </div>

            <div>
              <mat-form-field class="left-input">
                <mat-label>Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="atleta.atl_nascimento" name="atl_nascimento" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					      <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
      
                <mat-form-field class="rigth-input">
                  <mat-label>Cidade</mat-label>
                  <input matInput  [(ngModel)]="atleta.atl_cidade" name="atl_cidade" required>
                </mat-form-field>
          </div>
  
            <section class="button-container">
              <button mat-button color="accent" (click)="cancelar()"><strong>Cancelar</strong></button>
              <button mat-button color="primary" (click)="enviar()"><strong>Enviar</strong></button>
            </section>
          </div>
      </form>
    </mat-card>
    </section>